header
{
    background-color: rgba(240, 213, 63, 0.795);
     padding: 20px 0;   
}
.caixa
{
    position: relative;
    width: 940px;
    margin: 0 auto;/*calcular automaticamente a margem da direta e esquerda comn auto*/
}

nav
{
    position: absolute;/*tirar o menu do header e transformar ele em totalmente livre*/
    top: 110px;
    right: 0;
    
}


nav li
{
    display: inline;/*deixa tudo alinhado um naf frente do outro*/
    margin:0 0 0 15px;
}

nav a
{
    
    text-transform: uppercase;/*deixar em letra maiscula*/
    color: black;
    font-weight: bold;/*negrito*/
    font-size: 22px;
    text-decoration: none;/*tira o tracin do link*/
}

nav a:hover
{
    color: rgb(35, 166, 218);
    text-decoration:underline;
}

nav a:active
{
    color:rgba(51, 228, 125, 0.795);
}

.produtos
{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li
{
    display:inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;

}

.produtos li:hover
{
    border-color:rgba(240, 213, 63, 0.795);;
    
}

.produtos li:hover h2
{
    font-size: 34px;
}

.produtos li:active
{
    border-color:rgba(51, 228, 125, 0.795);
}

.produtos h2
{
    font-size: 30px;
    font-weight: bold;
}

.descricao
{
    font-size: 18px;
    font-weight: bold;  
}

.preco 
{
    font-size: 22px;
    font-weight: bold;  
    margin:10px 0;
}

footer
{
    text-align: center;
    background: url(bg.jpg);
    padding:40px 0;

}

.copy
{
    color:white;
    font-size:13px;
    margin-top:20px;
    
}

